#Junk Files
*.DS_Store
[Tt]humbs.db

#Visual Studio Files
[Oo]bj
[Bb]in
[Dd]ebug
[Bb]uild/
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/ 
*.dbmdl
*.csproj.user
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak
*.dll
*.cache
*.txt


#Tools
_ReSharper.*
_ReSharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

#Other
.svn
ReadyToWin.API/.vs/ReadyToWin.API/FileContentIndex/3bcaba65-35a0-4590-86eb-6e3d57e4df10.vsidx
ReadyToWin.API/.vs/ReadyToWin.API/config/applicationhost.config
ReadyToWin.API/ReadyToWin.API.csproj
ReadyToWin.API/.vs/ReadyToWin.API/FileContentIndex/646bc770-a691-4b99-942d-f3cc19b595d6.vsidx
ReadyToWin.API/.vs/ReadyToWin.API/FileContentIndex/ae430bdd-8a0a-4319-a807-461133ee8bb4.vsidx
ReadyToWin.API/.vs/ReadyToWin.API/v17/.suo
ReadyToWin.API/bin/ReadyToWin.API.dll
ReadyToWin.API/bin/ReadyToWin.API.pdb
ReadyToWin.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReadyToWin.Complaince.BussinessProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReadyToWin.API/.vs/ReadyToWin.API/FileContentIndex/e43cfe23-30d5-4e36-8036-be5fcc45522f.vsidx
ReadyToWin.API/.vs/ReadyToWin.API/FileContentIndex/fb3df272-c38b-446e-afe7-8eec2f032513.vsidx
ReadyToWin.API/bin/ReadyToWin.API.dll
ReadyToWin.Complaince.Framework/obj/Debug/ReadyToWin.Complaince.Framework.pdb
ReadyToWin.Complaince.Framework/obj/Debug/ReadyToWin.Complaince.Framework.pdb
ReadyToWin.Complaince.Framework/obj/Debug/ReadyToWin.Complaince.Framework.csproj.FileListAbsolute.txt
ReadyToWin.Complaince.Framework/obj/Debug/ReadyToWin.Complaince.Framework.csproj.CoreCompileInputs.cache
ReadyToWin.Complaince.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReadyToWin.Complaince.Framework/bin/Debug/ReadyToWin.Complaince.Framework.pdb
ReadyToWin.Complaince.Framework/bin/Debug/ReadyToWin.Complaince.Framework.dll
ReadyToWin.Complaince.Framework/bin/Debug/ReadyToWin.Complaince.Entities.pdb
ReadyToWin.Complaince.Framework/bin/Debug/ReadyToWin.Complaince.Entities.dll
ReadyToWin.Complaince.Entities/obj/Debug/ReadyToWin.Complaince.Entities.dll
ReadyToWin.Complaince.Entities/obj/Debug/ReadyToWin.Complaince.Entities.pdb
ReadyToWin.Complaince.Entities/bin/Debug/ReadyToWin.Complaince.Entities.pdb
ReadyToWin.API/bin/ReadyToWin.Complaince.BussinessProvider.dll
ReadyToWin.API/bin/ReadyToWin.Complaince.BussinessProvider.pdb
ReadyToWin.API/bin/ReadyToWin.Complaince.DataAccess.dll
ReadyToWin.API/bin/ReadyToWin.Complaince.DataAccess.pdb
ReadyToWin.API/bin/ReadyToWin.Complaince.Entities.dll
ReadyToWin.API/bin/ReadyToWin.Complaince.Framework.dll
ReadyToWin.API/bin/ReadyToWin.Complaince.Entities.pdb
ReadyToWin.API/bin/ReadyToWin.Complaince.Framework.dll
ReadyToWin.API/bin/ReadyToWin.Complaince.Framework.pdb
ReadyToWin.API/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ReadyToWin.API/obj/Debug/ReadyToWin.API.csproj.AssemblyReference.cache
ReadyToWin.Complaince.BussinessProvider/ReadyToWin.Complaince.BussinessProvider.csproj
ReadyToWin.API/obj/Debug/ReadyToWin.API.pdb
ReadyToWin.API/obj/Debug/ReadyToWin.API.dll
ReadyToWin.API/obj/Debug/ReadyToWin.API.csproj.FileListAbsolute.txt
ReadyToWin.Complaince.BussinessProvider/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
